@model IEnumerable<WatchList.Models.ModelViewFilm>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresentInList)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.View)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresentInList)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.View)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                    <button id="@item.IdFilm" data-val="@item.PresentInList" class="btn">
                        @(item.PresentInList ? " - " : " + ")
                    </button>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdFilm">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdFilm">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdFilm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
